<launch>

  <!-- Start a gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find momapbot_gazebo)/worlds/playground.world"/>
  </include>

  <!-- upload the robot description to the parameter server -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find momapbot_description)/urdf/momapbot.xacro" />

  <!--group ns="robot1"-->
  <!-- Publish the model states from gazebo -->
  <node name="model_state_publisher" pkg="momapbot_gazebo" type="modelstatepublisher.py" output="screen"/>

  <!-- Spawn and name the robot -->
  <include file="$(find momapbot_gazebo)/launch/momapbot.launch" >
   <arg name="init_pose" value="-x 0 -y 0 -z 0" />
   <arg name="robot_name"  value="robot1" />
 </include>

 <!-- Set up for velocity control of the wheels and of the base -->
 <include file="$(find momapbot_control)/launch/momapbot_control.launch"/>
 <node name="velocity_controller" pkg="momapbot_control" type="velocity_controller.py" output="screen"/>

</launch>
